body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

header {
  position: relative;
  height: 100vh;
}

h1 {
  font-size: 3em;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  z-index: 1000;
  position: fixed;
  background-color: #212529;
  justify-content: center;
  width: 950px;
  height: 50px;
  border-radius: 4% 4% 4% 4% / 100% 100% 100% 100%;
  transition: width 0.3s ease;
}

.boule {
  z-index: 1000;
  position: fixed;
  justify-content: center;
  background-color: #212529;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#logo {
  position: absolute;
  height: 70px;
  margin-top: -7px;
  margin-left: -1px;
  left: 0;
  transform: none;
  transition: transform 0.3s ease;
}

.nav i {
  margin-left: -3rem;
  font-size: 2em;
  color: #fff;
}

.nav a {
  margin: 0 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.title {
  background-image: url(image/giphy.gif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: 4em;
}

.cv a {
  background-image: url(image/giphy.gif);
  border: none;
  text-decoration: none;
  color: #ffffff;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section .about {
  position: absolute;
  top: 3rem;
  background-color: #212529;
  color: #fff;
}

.grand {
  height: 80vh;
}

.test {
  position: absolute;
  bottom: 0;
}

.atest {
  gap: 5rem;
}

.diplo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(image/diplome.jpeg);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.diplo h3 {
  font-weight: bold;
  font-size: 5em;
  color: #212529;
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.diplo-back h3 {
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.diplo.flipped {
  transform: rotateY(180deg);
}

.diplo-back {
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-image: linear-gradient(rgba(33, 37, 41, 0.844), rgba(33, 37, 41, 0.844)), url(image/diplome.jpeg);
  background-color: black;
  color: #fff;
  height: 27rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

i {
  font-size: 2em;
}

.monta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(image/DSC_0141.JPG);
  background-size: cover;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.monta h3 {
  font-weight: bold;
  font-size: 5em;
  color: #212529;
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.monta-back h3 {
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.monta.flipped {
  transform: rotateY(180deg);
}

.monta-back {
  text-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-image: linear-gradient(rgba(33, 37, 41, 0.844), rgba(33, 37, 41, 0.844)), url(image/montagne.jpeg);
  background-size: cover;
  background-color: black;
  color: #fff;
  height: 27rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
}

section h1 {
  position: absolute;
  top: 3rem;
}

section h5 {
  font-weight: bold;
}

section .skill p {
  margin: 1rem;
  padding-top: .125rem;
  padding-bottom: .125rem;
  padding-right: .625rem;
  padding-left: .625rem;
  border-radius: 9999px;
  background-color: rgba(241,245,249,.8);
}

.skills {
  text-align: center;
}

footer {
  background-color: #212529;
  color: #fff;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer a {
  margin: auto;
  text-decoration: black;
  color: #fff;
}


.project {
  margin-top: 15rem;
}

.contact-icons {
  display: flex;
  align-items: start;
}

.email-icon, .phone-icon, .home-icon {
  display: flex;
  align-items: center;
}

.more {
  position: absolute;
  text-align: end;
  bottom: 1rem;
  right: 1rem;
}

.btn-action {
  text-decoration: none;
  color: #fff;
}
